$font-color-base: #525252;
$font-color-headline: #FFF;
$font-color-link: #4a4a4a;
$font-color-footer: #3d3d3d;
$font-family-base: "Open Sans";
$font-family-headline: "Lato";
$image-background: "";


$btn-primary-bg-color: #FEB109;